<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Todo Tutorial</title>

    <style>
        .empty {
            border-color: red;
        }
        .show {
            display: none;
        }
    </style>

</head>
<body>
    <div id="app">

        <div>
            <input type="button" value="全部标为完成"/>
            <input type="text"
                    v-bind:class='{empty: checkEmpty}'
                    placeholder="添加 todo"
                    v-model="newTodoTitle"
                    @keyup.enter="addTodo"/>
            <span v-if="checkEmpty" style="color: red">请输入内容！</span>
     
          </div>


        <!-- todo list-->
        <ul>
            <li v-for='todo in todos' :key='todo.id'>
                <span> {{ todo.title }}</span>
                <input type="button" value="标记为完成"> 
                <input type="button" value="删除">
                <input type="text" value="编辑">
            </li>
        </ul>

        <div>
            <span>剩余 3 项未完成 ---</span>
            <span>筛选：
              <input type="button" class="selected" value="全部">
              <input type="button" value="进行中">
              <input type="button" value="已完成">
              <input type="button" value="清除已完成">
              <input type="button" value="清除全部">
            </span>
          </div>

    </div>   

</body>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    let todo_id = 0;

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                todos:  [ ],
                newTodoTitle: '',
                EmptyTodo: false
            }
        },

        methods: {
            addTodo: function() {
                if(this.newTodoTitle.length === 0)
                {
                    this.EmptyTodo = true;
                    return ;
                }

                this.todos.push({id:todo_id++, tite: this.newTodoTitle}),
                this.newTodoTitle = '';

                this.EmptyTodo = false;
            }
        },

        computed: {
            checkEmpty: function() {
                return this.newTodoTitle.length ===0 && this.EmptyTodo;
            }

        }
    })
</script>
</html>